name: Latest content workflow
on:
  schedule: # Run workflow automatically
    - cron: '0 * * * *' # Runs every hour, on the hour
  workflow_dispatch: # Run workflow manually (without waiting for the cron to be called), through the Github Actions Workflow page directly

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Pull in jloudon.com Blog posts
        uses: gautamkrishnar/blog-post-workflow@eba05ad46e6bac02165b77289978caf47699a41f #1.9.3
        with:
          feed_list: "https://jloudon.com/feed.xml"
          max_post_count: "15"
          committer_email: "13147870+jesseloudon@users.noreply.github.com"

  update-readme-with-youtube-playlist:
    name: Update this repo's README with latest videos from YouTube playlist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gautamkrishnar/blog-post-workflow@eba05ad46e6bac02165b77289978caf47699a41f #1.9.3
        with:
          comment_tag_name: "YOUTUBE-PLAYLIST"
          feed_list: "https://www.youtube.com/feeds/videos.xml?playlist_id=PLnjC5388UFvExuCM2YhR3-K67tQ2wv8H_"
          custom_tags: "channelId/yt:channelId/,videoId/yt:videoId/"
          date_format: "mmm d, yyyy"
          template: '<table><tr><td><a href="$url"><img width="140px" src="https://i.ytimg.com/vi/$videoId/mqdefault.jpg"></a></td>$newline<td><a href="$url">$title</a><br/>$date</td></tr></table>$newline'
          committer_email: "13147870+jesseloudon@users.noreply.github.com"
